body{
    transition: all .2s;
    margin: 0;
    font-family: 'Aldrich', sans-serif;
}
h2{
font-size: 50px;
}
p{
    text-align: justify;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 6%;
    padding-left: 3%;
    margin-right: 35px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.orange-highlight{
    color: orange;
}
a{
    color: blue;
}
a:hover{
    color: red;
}
a{
    text-decoration: none;
}
p{
    color: dimgray;
}
  img{
    margin-top: 35px;
    width: 450px;
   margin-left: 55px;
    
}
.hire{
    color: white;
    background:linear-gradient(45deg,lightsalmon,tomato);
    padding: 0 200px;
    width: 600px;
    height: 20px;
    margin: 0 60px;
    border-radius: 5px;
    transition: all .5s;
}
.hire:hover{
    color: black;
   
}
.right-image{
    float: none;
}
aside{
    margin: 0, 90px;
    width: 600px;
    float: left;
}
.resume{
    color: white;
    background:linear-gradient(45deg,lightsalmon,tomato);
    padding: 0 200px;
    width: 600px;
    height: 20px;
    /* margin: 0 60px; */
    border-radius: 5px;
    transition: all .5s;
}
.cc{
    margin-top: 20px;
}
.singel-experience{
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
}
.singel-experience h2, h3,p{
    margin: 0px;
    
    
}
.singel-experience{
    border-radius: 5px;
    height: 50%;

}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}

